In [1]:
import pandas as pd
import sqlite3

In [4]:
connection = sqlite3.connect('databestplayer.db')

In [5]:
connection

In [8]:
df = pd.read_sql('select * from stat', connection)

In [9]:
df

,id,nom,club,nationalite,paysjouer,but_marque,passe_decisive,tropheecollectif,prixindividuel,cartonjaune,cartonrouge,saison
0,1,Erling Braut Haaland,manchester city,Norvegien,Angleterre,55 buts,13,"premier league, coupe de la ligue, league des ...",meilleur joueur de la saison en premier league...,11,0,2022-2023

In [7]:
df.iloc[0:1,[5]] # afficher la premiere ligne de donnees --de la 6eme colonne

NameError: name 'df' is not defined

In [25]:
df.loc[:, 'tropheecollectif']

0    premier league, coupe de la ligue, league des ...
Name: tropheecollectif, dtype: object

In [1]:
coefficient = df['but_marque']*2

NameError: name 'df' is not defined

In [10]:
dfp = pd.DataFrame({'fix':['a','b','b','a','b'],'col':[3,4,10,7,6]})

In [11]:
dfp

  fix  col
0   a    3
1   b    4
2   b   10
3   a    7
4   b    6

In [12]:
dfp.groupby('fix').sum()